
/* Search box */

.search-top {
	margin-top: 10px;
	transition: all 700ms;
}

.search-middle {
	margin-top: 140px;
	transition: all 700ms;
}


.search-bar{
	width: 100%;
  height: 50px;
  border-radius: 30px;
  padding: 8px;
	background: #272822;
	display: inline-flex;
}

.search-input{
  color: white;
	background: #272822;
  border: 0;
  outline: 0;
	width: 100%;
	height: 100%;
}

.search-box {
	width: 60%;
	min-width: 300px;
    margin-bottom: 17px;
}


.icon-inner-box > .icons:hover {
	cursor: pointer;
}

.icon-inner-box {
    background: #272822;
    border-radius: 50%;
    display: table;
}

.icon-outer-box{
    padding: 2px;
    background: #272822;
    border-radius: 50%;
    display: inline-table;
}

.icon-outer-box:hover{
	background: #80807d;
}

/* upload */

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}


.upload-btn {
  margin-top: 2px;
  margin-right: 18px;
	margin-left: 6px;
  border: 2px solid gray;
  font-size: 20px;
  font-weight: bold;
	padding: 0;
	border-radius: 4px;
	background-color: #535754;
	color: #ecf0f1;
	transition: background-color .3s;
}

.upload-btn:hover{
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  width: 40px;
  height: 34px;
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper input[type=file]:hover {
  cursor: pointer;
}
  

.upload-btn {
  border-radius: 15px;
}

  

