
/*Navigation bar*/

.home, .browser, .course-links {
	text-align: center;
	display: block;
	margin: auto 2px;
}
 .browser, .course-links {
	margin-right: 8px;
 }


/* override bootstraps default dropdown menu location */
.icon-dropdown-menu {
	left: -70px !important;
}

/* override bootstraps default dropdown menu location */
.course-links-dropdown {
	left: -15px !important;
    top: 17px !important;
}


.nav-links-box {
	display: inline-flex;
	background: #272822;
	border-radius: 30px;
	/* padding: 10px; */
}

.home > a, .browser > a, .course-links > a {
	color: white;
	text-decoration: none;
	padding: 1px;
}

.home > a:hover, .browser > a:hover, .course-links > a:hover {
	color: white;
}


.home > a {
	color: white !important;
	font-size: 1.5rem !important;
	margin: auto 5px;
}

.redirect {
	width: 10px;
	height: 10px;
	float: right;
}


.nav-icon-wrap:hover {
	background: #b1b1af;
	cursor: pointer;
}

.nav-icon:hover {
	cursor: pointer;
}


.nav-icon-wrap {
    padding: 2px;
    background: #777776;
    border-radius: 50%;
}

.dropdown-header {
	font-size: 1.2rem;
}



.about-me-icon {
	width: 50px;
	height: 50px;
}

.icon-arrow-down {
	position: absolute;
    margin-left: 51px;
    margin-top: -26px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #212529;

  }