
/* search results */
/* table stalying */

.results {
  overflow: hidden;
}
.res-table {
    text-align: left;
  }
  
  .res-table-h {
    font-size: 1.5rem;
  }
  
  .res-table-r > td {
      color: black;
  }
  
  .res-table-r > td {
      word-break: break-word;
    font-family: sans-serif;
  }
  
  .header:hover {
      color: blue;
      text-decoration: none;
  }
  
  .header{
      color: blue;
  }
  
  .link {
      color: green;
  }
  
  .link:hover {
      color: green;
  }
  
  .description {
      color: black;
  }
