
.stack-box {
    margin: auto;
    display: block;
}

.stack-icons-box {
    display: flex;
}

.image-box > img, .image-box {
    width: 40px;
    height: 40px;
}

.image-box {
    background: #d6d6d6;
    margin: 4px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px;
}

.stack-title {
    margin-left: 15px;
    font-size: .9rem;
    color: #3b3b3b;
}

.bootstrap-txt, .react-txt, .js-txt, .html-txt, .css-txt {
    text-align: center;
}

.bootstrap-txt, .react-txt, .js-txt, .html-txt, .css-txt {
    color: #858585;
    font-size: .86rem;
}
